.optionsIcon {
  margin-left: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: none;
}


.optionsIcon:hover {
    opacity: 0.8;
}

.options-wrapper.always-visible .optionsIcon {
  display: flex;
}