.chatDetails{
    width: 100%;
    position: sticky;
    height: 60px;
    background-color: rgb(54, 89, 105);
    flex-shrink: 0;
    top: 0;
}

.chatRoomName{
    font-weight: 600;
    padding: 15px;
    font-size: larger;
    color: white;
}