.message{
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    min-width: 10%;
    width: fit-content;
    max-width: 40%;
    background-color: rgb(210, 255, 160);
}

.messageSenderName{
    padding-bottom: 2px;
    font-style: normal;
    font-weight: 500;
    color: rgb(94, 168, 141);
}

.message-right {
    height: max-content;
    justify-self: right;
}

.message-left {
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: 400;
    background-color: #ffffff;
    text-align: left;
  }

  .message-content {
    padding: 10px;
    min-height: 80px;
    background-image: url('../../../../assets/ChatBackground.png');
    justify-content: right;
    display: flex;
    font-family: Arial, sans-serif; 
}