.message{
    position: relative;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    min-width: 13%;
    width: fit-content;
    max-width: 40%;
    background-color: rgb(210, 255, 160);
}

  .message:hover .messageOptionsIcon.userMessage{
      display: flex; 
    background-color: rgb(210, 255, 160);
  }

    .message:hover .messageOptionsIcon.notUserMessage{
      display: flex; 
    background-color: rgb(255, 255, 255);
  }

  .messageHeader{
    justify-content: space-between;
    display: flex;
  }

.messageSenderName{
    padding-bottom: 2px;
    font-style: normal;
    font-weight: 500;
    color: rgb(94, 168, 141);
}

.message-right {
    height: max-content;
    justify-self: flex-end; 
    align-self: flex-end; 
    margin-left: auto; 
}

.message-left {
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: 400;
    background-color: #ffffff;
    text-align: left;
    align-self: flex-start;
  }


  @media (max-width: 768px) {
  .message-left {
    align-self: flex-start !important;
  }
  .message-right {
    align-self: flex-end !important;
    margin-left: auto !important;
  }
}
