.chat-room-tile {
    width: 100%;
    align-items: center;
    position: relative;
    opacity: 0.8;
    display: flex;
    color: #000000;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    padding: 10px;
    box-sizing: border-box;
  }

  .chat-room-tile:hover .optionsIcon {
    display: flex;
  } 

  .optionsIconClassName {
   height: 10px;
  width: 15px;
}

  .icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }

  .chatRoomTitle {
    font-size: 17px;
    font-weight: 500;
  }

  .chat-room-tile:hover .messageOptionsIcon{
      display: flex;
  }

  .chat-room-tile:hover{
    opacity: 0.6;
  }

  .chat-room-tile:active {
    opacity: 0.3;
  }

  .latestMessageContainer{
    display: flex;
  }

  .primarySubInfo {
    white-space: nowrap;      
    overflow: hidden;
    text-overflow: ellipsis;  
    max-width: 280px;          
  }

  .timestamp {
    color: #008000;
    font-size: 12.5px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto;
  }

  .unreadMessages{
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-left: auto;
  }

