  .newGroup{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .add-user-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease-in-out;
    z-index: 3000;
  }
  
  .add-user-panel.open {
    transform: translateX(0);
  }
  
  .add-user-panel.closed {
    transform: translateX(-100%);
  }

  .selected-users-floating {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.selected-user-tile {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #d1e7dd;
  border-radius: 16px;
  padding: 6px 10px;
  font-size: 14px;
}

.selected-user-tile button {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  color: #333;
}

.add-user-footer {
  position: sticky;      
  bottom: 0;
  background-color: white;
  justify-self: center;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-top: 1px solid #ccc;
  z-index: 10;
}

.add-members-btn {
  width: 80%;            
  padding: 12px 16px;
  background-color: rgb(80, 165, 154);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-members-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .add-user-panel {
    width: 100vw; /* Full width on mobile */
    height: 100vh; /* Full height */
    box-shadow: none; /* Optional: remove sidebar shadow */
    z-index: 3000;
  }
}
