.homePage {
  display: flex;
  height: 100vh;
}

.chatRooms {
  padding-left: 20px;
  width: 400px; 
  background-color: #f1f1f1; 
}

.chatRoom {
  flex-grow: 1;
  background-color: #ffffff; 
  padding: 10px;
  overflow-y: auto; 
}
