.add-user-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    padding: 20px;
  }
  
  .add-user-panel.open {
    transform: translateX(0);
  }
  
  .add-user-panel.closed {
    transform: translateX(-100%);
  }

  .search-container {
    position: relative; 
    margin-top: 20px;
  }
  
  .searchUsers {
    background-color: rgb(221, 224, 225);
    opacity: 0.7;
    width: 100%;
    border: transparent;
    height: 30px;
    border-radius: 2px;
    margin-left: 10px;
    padding-left: 30px;
  }
  
  .searchUsers:focus {
    outline: none; 
  }
  
  .search-icon {
    position: absolute;
    left: 5px;
    top: 2px;
    transform: translateY(-50%); 
    cursor: pointer; 
  }

  .search-image {
    height: 23px;
    width: 23px;
  }

  .back-search-image{
    height: 30px;
    width: 20px;
  }

  .search-icon {
    display: inline-block;
  }
  
  .search-image,
  .back-search-image {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.4s ease; /* Transition for opacity and rotation */
  }
  
  .search-image {
    transform: rotate(90deg); /* Default position */
  }
  
  .back-search-image {
    transform: rotate(0deg); /* Rotated initially */
  }
  
  .search-icon img.rotate-out {
    transform: rotate(0deg); /* Rotate out */
  }
  
  .search-icon img.rotate-in {
    transform: rotate(90deg); /* Rotate in */
  }
  

  .back-btn {
    height: 20px;
    width: 26px;
    float: left;
  }

  .close-btn {
    float: right;
  }
  
  .back-btn,
  .close-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .new-group-tile {
    margin-top: 20px;
    cursor: pointer;
  }
  
  .selected-user-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightgray; 
    margin-bottom: 5px;
  }
  
  .selected {
    background-color: lightgray; 
  }
  