.chat-layout {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box; 
}

.homeImage{
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallerInfo {
  white-space: nowrap;      
  overflow: hidden;
  text-overflow: ellipsis;  
  max-width: 280px;          
}

.latestMessageTime {
  color: #008000;
  font-size: 12.5px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: auto;
}



.unreadMessages{
  margin-right: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-left: auto;
}

.chat-rooms-sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto; 
  border-right: 1px solid #ddd; 
  gap: 2px;
  flex-grow: 1;
}

.chat-section {
  position: relative;
  background-image: url('../assets/ChatBackground.png');
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
}

/* Other styles remain the same */

.sidebar-header {
  padding: 10px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


.chat-room-tile {
  z-index: 1;
  position: relative;
  align-items: center;
  opacity: 0.8;
  display: flex;
  color: #000000;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
  padding: 10px;
  box-sizing: border-box;
}

.chat-header {
  height: 100vh;
  background-image: url('../assets/ChatBackground.png');
  justify-content: center;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
}

.chat-input {
  height: 20px;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
}

.chat-input button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}

.newChatIcon {
  cursor: pointer;
  width: 25px;
  height: 18px;
}

.chatRoomIcon {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.chatRoomTitle {
  font-size: 17px;
  font-weight: 500;
}

.latestMessage {
  display: flex;
  font-size: 15px;
  color: #4b4b4b;
}
