.info-panel {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%; 
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto; 
    z-index: 3000; 
    transition: right 0.3s ease;
}

.close-button {
    padding: 10px;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.message-content {
    min-height: 80px;
    background-image: url('../assets/ChatBackground.png');
    justify-content: right;
    display: flex;
    font-family: Arial, sans-serif; 
}

.message-right {
    padding: 10px;
    height: max-content;
}

.infoIcon {
    margin: 5px;
    height: 14px;
    width: 20px;
}

.infoPositioning{
    display: flex; 
    align-items: center;
}

.statusDetails {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusIcon{
    margin: 8px;
    height: 8px;
    width: 8px;
}

.chatIcon{
    height: 30px;
    width: 30px;
}

.infoTitle{
    margin: 5px;
    font-size: large
}

.receipt-section {
    margin-top: 10px;
}

.receipt {
    margin-bottom: 10px;
}
