  .search-container {
    position: relative; 
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-items: center;
    padding-bottom: 8px;
  }

    .searchUsers {
    background-color: rgb(221, 224, 225);
    opacity: 0.7;
    width: 82%;
    border: transparent;
    height: 35px;
    border-radius: 4px;
    margin-left: 10px;
    padding-left: 40px;
  }

    .searchUsers:focus {
    outline: none; 
  }

  .search-icon {
    position: absolute;
    left: 15px;
    top: 8px;
    height: 10px;
    width: 10px;
    transform: translateY(-50%); 
    cursor: pointer; 
    display: inline-block;
  }

  .search-icon:active {
    opacity: 0.3;
  }
  
  .search-icon img.rotate-out {
      transform: rotate(0deg); /* Rotate out */
    }
    
    .search-icon img.rotate-in {
        transform: rotate(90deg); /* Rotate in */
    }

    .search-image {
        height: 23px;
        width: 23px;
        transform: rotate(90deg); /* Default position */
    }

   .back-search-image{
        height: 30px;
        width: 20px;
    }

    .search-image,
  .back-search-image {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.4s ease;
  }

   .back-search-image {
    transform: rotate(0deg);
  }

  .search-icon img.rotate-out {
    transform: rotate(0deg); /* Rotate out */
  }
  
  .search-icon img.rotate-in {
    transform: rotate(90deg); /* Rotate in */
  }